{% extends 'base.html' %}

{% block content %}

<form  action="/exportFile" method="POST" id="project_form" class="project-form" enctype="multipart/form-data">

    <div class="container col-lg-6 col-sm-6">
        {% if msg %}
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="alert alert-danger">
                <strong> Alert! </strong>{{msg}}.
            </div>
        </div>
        {% endif %}

        <h3 class="header">Export File</h3>

        <!-- Other Resources -->
        <label for="fileType" class="resource-file-label mb-3"><b> Choose a file type: </b></label>
        <select class="form-control mb-3" name="fileType" id="fileType">
            <option value=""> Select any one </option>
            <option value="csv"> csv </option>
            <option value="tsv"> tsv </option>
            <option value="json"> json </option>
            <option value="excel"> excel </option>
        </select> 

        <button type="submit" class="btn btn-primary">Download</button>
        
    </div>

</form>

{% endblock %}