{% extends 'project_base.html' %}
{% block content %}
<div class="home">

	<div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<div class="row">

        <div class="card" style="width: 100%; height: 84vh; margin: 30px 20px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
            
            <div class="card-body">
                <div class="card-text"> <strong> Model Name: </strong> {{optimizers}} </div>
                <div class="card-text"> <strong> Target Column: </strong> {{optimizers}} </div>
                <div class="badge bg-warning"> <strong> Scheduled DateTime: </strong> {{loss}} </div>
                <div class="card-text"> <strong> Email: </strong> {{loss}} </div>
                <button id="addButton" class="btn btn-warning">Add</button>
            </div>

        </div>

	</div>
</div>
{% endblock %}