{% extends 'project_base.html' %}
{% block content %}
<div class="table2">
    <div class="jumbotron text-center jumbtron">
        <h1>Clustering Models</h1>
        <p>Trains your data using Clustering models</p> 
      </div>

      <form action="/model_training/{{action}}" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Model</label>
            <select class="form-control" id="exampleFormControlSelect1" name="model">
                <option value="KMeans">KMeans</option>
                <option value="DBSCAN">DBSCAN</option>
                <option value="AgglomerativeClustering">Agglomerative Clustering</option>

            </select>
        </div>

    

        <div>
                
            <script src=
          "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
            </script>
           
            
            <script>
              $(document).ready(function () {
            
                // Denotes total number of rows
                var rowIdx = 0;
            
                // jQuery button click event to add a row
                $('#addBtn').on('click', function () {
            
                  // Adding a row inside the tbody.
                  $('#tbody').append(`<tr id="R${++rowIdx}">
                       <td class="row-index text-center">
                       <p>Row ${rowIdx}</p>
                       </td>
                        <td class="text-center">
                          <button class="btn btn-danger remove"
                            type="button">Remove</button>
                          </td>
                        </tr>`);
                });
            
                // jQuery button click event to remove a row.
                $('#tbody').on('click', '.remove', function () {
            
                  // Getting all the rows next to the row
                  // containing the clicked button
                  var child = $(this).closest('tr').nextAll();
            
                  // Iterating across all the rows 
                  // obtained to change the index
                  child.each(function () {
            
                    // Getting <tr> id.
                    var id = $(this).attr('id');
            
                    // Getting the <p> inside the .row-index class.
                    var idx = $(this).children('.row-index').children('p');
            
                    // Gets the row number from <tr> id.
                    var dig = parseInt(id.substring(1));
            
                    // Modifying row index.
                    idx.html(`Row ${dig - 1}`);
            
                    // Modifying row id.
                    $(this).attr('id', `R${dig - 1}`);
                  });
            
                  // Removing the current row.
                  $(this).closest('tr').remove();
            
                  // Decreasing total number of rows by 1.
                  rowIdx--;
                });
              });
            </script>
          </head>
            
          <body>
            <div class="container pt-4">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Parameter</th>
                      <th class="text-center">Value</th>
                      <th class="text-center">Remove Parameter</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
            
                  </tbody>
                </table>
              </div>
              <button class="btn btn-md btn-primary" 
                id="addBtn" type="button">
                  Add new Row
              </button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                <button type="submit" class="btn btn-default">Show Result</button>
            </div>
            </div>
      </form>
      <h3 class="result">Result</h3>
      {{data | safe}}
</div>
<script>
    var slider = document.getElementById("range");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    
    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    </script>
    <script>
        $(document).ready(function() {
        $('.dataframe').DataTable({
            "sScrollX": "100%",
            "bScrollCollapse": true,
        });
    } );

    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
    </script>
{% endblock %}
