{% extends 'project_base.html' %}
{% block content %}

<div class="table2">
    <div class="jumbotron text-center">
        <h1>Dimension Reduction</h1>
        <p>This Function helps you to reduce the dimension of your data!</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select PCA </label>
                <select class="js-example-basic-multiple form-control" name="columns" multiple="multiple">
                    {% for dr in dimenstion_reduction_list %}
                    <option value="{{col}}">{{dr}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <div class="form-group">
                <form action="/action_page.php">
                    <label for="Random_State">Write no of components</label>
                    <input type="int" id="Random_State" name="Random_State"><br><br>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <button type="submit" class="btn btn-default">Show Result</button>
        </div>
    </div>

    <h2 class="result">Result</h2>
    {{data | safe}}
</div>
<script>
    $(document).ready(function() {
    $('.dataframe').DataTable();
} );

    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>
{% endblock %}
