{% extends 'project_base.html' %}
{% block content %}

<div class="table2">
    <div class="jumbotron text-center">
        <h1>5 Point Summary</h1>
        <p>A summary consists of five values: the most extreme values
            in the data set (the maximum and minimum values), the lower and upper quartiles, and the median.
            These values are presented together and ordered from lowest to highest: minimum value,
            lower quartile (Q1), median value (Q2), upper quartile (Q3), maximum value.</p> 
      </div>
    {{data | safe}}
</div>
<script>
    $(document).ready(function() {
    $('.dataframe').DataTable();
} );
</script>
{% endblock %}
