{% extends 'project_base.html' %}
{% block content %}
<div class="table2">
    <div class="jumbotron text-center jumbtron">
        <h1>Model Actions</h1>
        <p>Following is the list of all actions that are prformed on your data and same actions will be performed when you will make predictions</p> 
      </div>
      {{data | safe}}
</div>

<script>
    $(document).ready(function() {
    $('.dataframe').DataTable({
        "sScrollX": "100%",
        "bScrollCollapse": true,
    });
    jQuery('.dataTable').wrap('<div class="dataTables_scroll" />');
} );

$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
</script>
{% endblock %}