{% extends 'project_base.html' %}
{% block content %}
<style>
        @import url(https://fonts.googleapis.com/css?family=Droid+Serif);

        .table {
            max-width: 100%;
            background-color: transparent;
            border-collapse: collapse;
            border-spacing: 0;
            font-family: 'Droid Serif', serif;
        }

        thead {
	        	background: hsl(200, 50%, 60%);
            border-bottom: 2px solid black;
        }

        .table {
            width: 100%;
            margin-bottom: 20px;
        }

        .table th,
        .table td {
            padding: 15px;
            line-height: 20px;
            text-align: left;
            vertical-align: top;
        }

        .table th {
            font-weight: bold;
        }

        .table tfoot {
            font-weight: bold;
        }

        .table thead th {
            vertical-align: bottom;
        }

        .table tbody+tbody {
            border-top: 2px solid #cccccc;
        }

        .table .table {
            background-color: #ffffff;
        }

        .table-slim th,
        .table-slim td {
            padding: 4px 5px;
        }

        .table-border {
            border: 1px solid #cccccc;
            border-collapse: separate;
            *border-collapse: collapse;
            border-left: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .table-border th,
        .table-border td {
            border: 1px solid #cccccc;
        }

        .table-zebra tbody>tr:nth-child(odd)>td,
        .table-zebra tbody>tr:nth-child(odd)>th {
            background: hsl(200, 50%, 80%);

        }

        .table-hover tbody tr:hover>td,
        .table-hover tbody tr:hover>th {
            background-color: #ecf0f1;
            transition-property: background-color .2s linear 0s;
            -moz-transition: background-color .2s linear 0s;
            -webkit-transition: background-color .2s linear 0s;
            -o-transition: background-color .2s linear 0s;
        }
    </style>

    <table class="table table-zebra table-hover">
        <thead>
            <tr>
                <th>ProjectID</th>
                <th>Model Name</th>
                <th>Target Column</th>
                <th>Date</th>
                <th>Time</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td>
                <td>Regression</td>
                <td>name</td>
                <td>21-12-2021</td>
                <td>08.55</td>
                <td>sam@sam.com</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Regression</td>
                <td>name</td>
                <td>21-12-2021</td>
                <td>08.55</td>
                <td>sam@sam.com</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Regression</td>
                <td>name</td>
                <td>21-12-2021</td>
                <td>08.55</td>
                <td>sam@sam.com</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>1</td>
                <td>Regression</td>
                <td>name</td>
                <td>21-12-2021</td>
                <td>08.55</td>
                <td>sam@sam.com</td>
            </tr>
        </tfoot>

    </table>
{% endblock %}