{% extends 'project_base.html' %}
{% block content %}
<div class="home">

	<div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
	<a href="/scheduler/add_scheduler"><button type="button" class="btn btn-success add-button" style="margin-top: 40px;">Add New Scheduler</button></a>
	<div class="row">

		{% for item in [1,2,3,4] %}

		<div class="col-lg-4 col-sm-6 col-md-4">
			<div class="card text-white bg-info mb-3" style="max-width: 25rem; min-height:18rem">
				<div class="card-header">{{"Scheduler_ID_1234"}}</div>
				<div class="card-body">
					<p>
						Model Name:  <b class="badge badge-danger">{{"Regression"}}</b>
					</p>

					<p>Target: &nbsp; <b class="badge badge-warning">{{"1234"}}</b></p>

					<p>Date: &nbsp; <b class="badge badge-success">{{"Date"}}</b></p>

					<p>Time: &nbsp; <b class="badge badge-success">{{"Time"}}</b></p>
					
					<p>Status: &nbsp; <b class="badge badge-success">{{"Completed"}}</b></p>

					<p class="card-text project-desc" title="{{item[2]}}">{{"Test5"}}</p>
					
					<div class="float-right">
						<a href="/deletePage/"><img style="height: 35px;  margin-right: 10px;" title="Delete Project" src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-delete-user-interface-wanicon-lineal-wanicon.png"/></a>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}

	</div>
</div>
{% endblock %}