{% extends 'project_base.html' %}
{% block content %}
<div class="table2">

    <div class="jumbotron jumbtron">
        <h1 class="text-center">Scheduler</h1>
    </div>

	<div>
		<form method="post" action="/scheduler/{{action}}">
			<div>
				<label for="datetimepicker">Date</label>
				<input type="text" name="filter-date" id="datetimepicker"/>
			</div>

			<div>
				<input type="submit" value="Submit"/>
			</div>
</form>
	</div>

</div>

<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/jquery.datetimepicker.min.css')}}"/>-->
<!--<script src="{{url_for('static', filename='/js/jquery.datetimepicker.full.js')}}"></script>-->

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.3.7/jquery.datetimepicker.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.3.7/jquery.datetimepicker.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
	$('#datetimepicker').datetimepicker({
		format:'d/m/Y H:i',
		inline: false,
		theme:'dark',
		onSelectDate:function(ct,$i){
			alert(ct.dateFormat('d/m/Y H:i'))
		}
	});
});
</script>

{% endblock %}

